<h2>Catalogo de productos cart app</h2>
<button class="btn btn-info btn-sm" (click)="openOrCloseCart()">
    show cart ({{items.length}})
</button>
<div class="row">
    <div [className]="showCart ? 'col-9' : 'col'">
        <catalogo [products]="productos" (productEventEmiter)="addCart($event)"/>
    </div>
    
    @if(showCart){
        <div class="col-3">
            @if (items.length > 0) {
                <cart 
                [total]="total"
                [items]="items" 
                (idProductDelete)="onDeleteCart($event)">
                </cart>
            } @else {
                <div class="alert alert-warning">No existen elementos en el carrito</div>
            }
        </div>
    }
</div>
