<navbar [items]="items" (eventEmit)="openOrCloseCart()"></navbar>

<div class="container my-4">

    <div class="row">
        <div [className]="showCart ? 'col' : 'col'">
            <catalogo 
            [products]="productos" 
            (productEventEmiter)="addCart($event)"
            />
        </div>
        
        @if(showCart){
            <cart-modal 
            [total]="total" 
            [items]="items" 
            (idProductDelete)="onDeleteCart($event)"
            (eventCloseEmit)="openOrCloseCart()"
            ></cart-modal>
        }
    </div>
    

</div>